@model Agri__ConnectFinal.Models.DTOs.StockDTO

@{
    ViewData["Title"] = "Edit Stock";
}

<h2>Edit Stock</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="GroceryId" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
